<form role="form">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
				ng-click="cancel()">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">閉じる</span>
		</button>
		<h4 class="modal-title" id="nagiosTrendsLabel">
			Nagios マップ
		</h4>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label>JSON CGIのURL</label>
			<input type="text" class="form-control" ng-model="params.cgiurl"
					placeholder="http://localhost/nagios/cgi-bin/"
					ui-event="{ blur : 'onBlurCgiurl($event)' }">
		</div>
		<div class="form-group">
			<label>アイコンURL</label>
			<input type="text" class="form-control" ng-model="params.iconurl"
					placeholder="http://localhost/nagios/images/logos/">
		</div>
		<div class="form-group">
			<label>レイアウト</label>
			<select class="form-control" ng-model="params.layout">
				<option value="3">均等ツリー (水平)</option>
				<option value="7">均等ツリー (垂直)</option>
				<!--option value="4">円</option-->
				<option value="6">円 バルーン</option>
				<option value="5">円 マーク</option>
				<option value="2">ツリー (水平)</option>
				<option value="8">ツリー (垂直)</option>
				<option value="1">奥行きレイヤー (水平)</option>
				<option value="9">奥行きレイヤー (垂直)</option>
				<option value="10">強制マップ</option>
				<option value="0">ユーザー指定</option>
			</select>
		</div>
		<div class="form-group" ng-show="showDimensions()">
			<label>大きさ (ユーザー指定レイアウトのみ)</label>
			<select class="form-control" ng-model="params.dimensions">
				<option value="fixed">固定</option>
				<option value="auto">自動</option>
				<option value="user">ユーザー指定</option>
			</select>
		</div>
		<div class="form-group" ng-show="showCoordinates()">
			<label>左上のX座標</label>
			<input type="number" class="form-control" placeholder="0"
					ng-model="params.ulx">
		</div>
		<div class="form-group" ng-show="showCoordinates()">
			<label>左上のY座標</label>
			<input type="number" class="form-control" placeholder="0"
					ng-model="params.uly">
		</div>
		<div class="form-group" ng-show="showCoordinates()">
			<label>右下のX座標</label>
			<input type="number" class="form-control" placeholder="0"
					ng-model="params.lrx">
		</div>
		<div class="form-group" ng-show="showCoordinates()">
			<label>右下のY座標</label>
			<input type="number" class="form-control" placeholder="0"
					ng-model="params.lry">
		</div>
		<div class="form-group">
			<label>ルートノード</label>
			<select class="form-control" ng-model="params.root"
					ng-options="node for node in nodelist track by node">
			</select>
		</div>
		<div class="form-group">
			<label>最大ズーム比</label>
			<input type="text" class="form-control"
					ng-model="params.maxzoom">
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="params.nolinks">
				リンクの表示を無効にする
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="params.notext">
				テキストの表示を無効にする
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="params.nopopups">
				ポップアップの表示を無効にする
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="params.nomenu">
				メニューボタン(このダイアログも)の表示を無効にする
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="params.noresize">
				マップの大きさ変更を許可しない
			</label>
		</div>
	</div>
	<div class="modal-footer">
		<button id="submit" type="submit" class="btn btn-default"
				ng-disabled="disableApply()" ng-click="apply()">
			適用
		</button>
	</div>
</form>
