<form role="form">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
				ng-click="cancel()">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
		</button>
		<h4 class="modal-title" id="nagiosTrendsLabel">
			Nagios 傾向
		</h4>
	</div>
	<div class="modal-body">
		<tabset>
			<tab heading="基本">
				<div class="form-group">
					<label>JSON CGIのURL</label>
					<input type="text" class="form-control"
							ng-model="params.cgiurl"
							placeholder="URL for JSON CGIs"
							ui-event="{ blur : 'onBlurCgiurl($event)' }">
				</div>
				<div class="form-group">
					<label>レポートタイプ</label>
					<select class="form-control"
							ng-model="params.reporttype">
						<option value="">
							-- レポートタイプを選択 --
						</option>
						<option value="hosts">ホスト</option>
						<option value="services">サービス</option>
					</select>
				</div>
				<div class="form-group" ng-show="showHost()">
					<label>ホスト</label>
					<select name="host" class="form-control"
							ng-model="params.host"
							ng-options="host for host in hostlist track by host">
						<option value="">-- ホストを選択 --</option>
					</select>
				</div>
				<div class="form-group" ng-show="showService()">
					<label>サービス</label>
					<select name="service" class="form-control"
							ng-model="params.service"
							ng-options="service for service in servicelist track by service">
						<option value="">
							{{params.host == "" ? "-- 最初にホストを選択 --" : "-- サービスを選択 --"}}
						</option>
					</select>
				</div>
				<div class="form-group" ng-show="showTimeperiod()">
					<label>レポート期間</label>
					<select name="timeperiod" class="form-control"
							ng-model="params.timeperiod"
							ng-options="tp.value as tp.label for tp in timeperiodlist">
						<option value="">-- 期間を選択 --</option>
					</select>
				</div>
				<div class="form-group" ng-show="showDates()">
					<label>開始日 (指定日を含む)</label>
					<input type="date" class="form-control"
							ng-model="params.startDate">
				</div>
				<div class="form-group" ng-show="showDates()">
					<label>終了日 (指定日を含む)</label>
					<input type="date" class="form-control"
							ng-model="params.endDate">
				</div>
			</tab>
			<tab heading="高度">
				<div class="checkbox">
					<label>
						<input type="checkbox"
								ng-model="params.assumeinitialstates">
						初期状態を考慮
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"
								ng-model="params.assumestateretention">
						保存状態を考慮
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"
								ng-model="params.assumestatesduringnotrunning">
						ダウンタイム中の状態を考慮
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"
								ng-model="params.includesoftstates">
						ソフト状態を含む
					</label>
				</div>
				<div class="form-group">
					<label>
						考慮する初期状態
					</label>
					<select class="form-control"
							ng-model="params.initialassumedstate"
							ng-options="st.value as st.label for st in initialAssumedStates[params.reporttype]">
						<option value="">
							{{params.reporttype == "" ? "-- 最初にレポートタイプを選択 --" : "-- 考慮する初期状態を選択 --"}}
						</option>
					</select>
				</div>
				<div class="form-group">
					<label for="backtrack">
						過去のアーカイブ数(初期ステータスを調べるためのもの)
					</label>
					<input type="number" class="form-control"
							ng-model="params.backtrack"
							placeholder="Number of backtracked archives">
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="params.nomap">
						イメージマップを非表示
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="params.nopopups">
						ポップアップを非表示
					</label>
				</div>
			</tab>
		</tabset>
	</div>
	<div class="modal-footer">
		<button id="submit" type="submit" class="btn btn-default"
				ng-disabled="disableApply()" ng-click="apply()">
			適用
		</button>
	</div>
</form>
